
  <div class="login-container">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card shadow-lg">
          <div class="card-header bg-primary text-white text-center">
            <h3 class="mb-0">Authentification </h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)="login()">
               <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
              </div>
              <button type="submit" class="btn btn-primary w-100">Se connecter</button>
          
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>